<nav class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-xl font-bold" routerLink="/">Online Shop</a>
    <div>
      @if (user?.authStatus !== "AUTH") {
      <a routerLink="/login">Login / Register</a>
      } @if (user?.authStatus === "AUTH") {
      <button
        (click)="logout()"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      >
        Logout
      </button>
      }
    </div>
  </div>
</nav>
