<nav class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-xl font-bold" routerLink="/home">Online Shop</a>
    <div class="flex gap-3 items-center">
      @if(user?.authStatus === "AUTH" && authorities?.includes("ROLE_ADMIN")) {
      <button
        class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded"
        routerLink="/admin"
      >
        Admin
      </button>
      } @if(user?.authStatus === "AUTH" &&
      !authorities?.includes("ROLE_SELLER")) {
      <button
        class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded"
        routerLink="/become-seller"
      >
        Become seller
      </button>
      }
      <a routerLink="/cart">
        <fa-icon [icon]="faCartShopping" size="lg"></fa-icon>
      </a>
      @if (user?.authStatus !== "AUTH") {
      <a routerLink="/login">Login / Register</a>
      } @if (user?.authStatus === "AUTH") {
      <div class="relative flex flex-row items-center gap-4">
        <div
          class="rounded-full border cursor-pointer flex items-center justify-center w-10 h-10"
          (click)="toggleDropdown()"
        >
          <fa-icon [icon]="faUser" size="lg"></fa-icon>
        </div>
        @if(isDropdownOpen) {
        <div
          class="absolute right-0 top-10 w-48 bg-white rounded-md shadow-lg py-1 z-20"
        >
          <a
            routerLink="/my-profile"
            class="block px-4 py-2 text-gray-800 font-bold bg-gray-100 hover:bg-gray-200"
            >My Profile</a
          >
          @if(authorities?.includes("ROLE_SELLER")) {
          <a
            routerLink="/manage-products"
            class="block px-4 py-2 text-gray-800 font-bold bg-gray-100 hover:bg-gray-200"
            >My Products</a
          >
          }
          <a
            routerLink="/home/orders"
            class="block px-4 py-2 text-gray-800 font-bold bg-gray-100 hover:bg-gray-200"
            >My Orders
          </a>
          <button
            (click)="logout()"
            class="block w-full text-left px-4 py-2 text-white font-bold bg-red-500 hover:bg-red-700 rounded"
          >
            Logout
          </button>
        </div>
        }
      </div>
      }
    </div>
  </div>
</nav>
